:root {
}

/* || Layout */
.Desktop {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    'header header'
    'menu main';
  grid-template-columns: 2.5rem auto;
}

header {
  grid-area: header;
  font-size: small;
  text-align: right;
  font-family: 'Fira Sans Condensed';
  font-weight: bold;
  padding-right: 0.5rem;
  color: #a0aec0;
  height: 3vh;
}

.Menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainContent {
  grid-area: main;
  display: flex;
  background-color: #2d3748;
  border-radius: 0.7rem 0 0 0;
  height: 97vh;
}

.FlexColumns {
  display: flex;
  flex-direction: column;
  width: 100%;
}

hr {
  border: 1px solid #1a202c;
}
/* || Section Headings*/
.SectionTitle {
  height: 6vh;
  width: 100%;
  color: #e2e8f0;
  text-align: left;
  padding-left: 0.9rem;
  font-family: 'Roboto';
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
}

.TextOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SpinningSectionIcons {
  --posRight: -0.6rem;
  --iconRot: 90deg;
  color: #a0aec0;
  position: relative;
  right: var(--posRight);
  transition: all 0.2s ease-in-out;
}

.SpinningSectionIcons:hover {
  color: #cbd5e0;
  transform: rotate(var(--iconRot)) scale(1.1);
}

/* || Profile Selector Component for Groups and DMs*/
.ProfileComponent {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2d3748;
  transition: all 0.2s ease-in-out;
}

.ProfileComponent:hover {
  background-color: #323e52;
  transform: scale(1.02);
}

.ProfileIcon {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 0.5rem;
  background-color: #a0aec0;
  border-radius: 100%;
  overflow: hidden;
}

.ProfileInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.ProfileName {
  height: 55%;
  text-align: left;
  color: #e2e8f0;
  font-family: 'Noto Sans';
  font-weight: 500;
  padding-top: 0.35rem;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProfileDesc {
  text-align: left;
  color: #cbd5e0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  font-family: 'Noto Sans';
  font-weight: 400;
}

/*|| Utils*/
.ProfileListScrollable {
  height: 90vh;
  overflow-y: auto;
  scrollbar-color: #242c3a #323e52;
  scrollbar-width: thin;
}

.ProfileListScrollable::-webkit-scrollbar {
  width: 0.25rem;
}

.ProfileListScrollable::-webkit-scrollbar-thumb {
  background: #242c3a;
  border-radius: 0.25rem;
}

/* || Message*/
.ChatAreaScrollable {
  height: 85vh;
  overflow-y: auto;
  scrollbar-color: #242c3a #323e52;
  scrollbar-width: thin;
}

.ChatAreaScrollable::-webkit-scrollbar {
  width: 0.25rem;
}

.ChatAreaScrollable::-webkit-scrollbar-thumb {
  background: #242c3a;
  border-radius: 0.25rem;
}

.Message {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  align-items: flex-start;
}

.MessageProfilePic {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 0.5rem;
  border-radius: 100%;
  overflow: hidden;
}

.MessageContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.MessageContentTop {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
}

.MessageContentTopName {
  text-align: left;
  color: #e2e8f0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  font-size: 0.9rem;
  font-family: 'Noto Sans';
  font-weight: 500;
}

.MessageContentTopTime {
  text-align: left;
  color: #687280;
  font-size: 0.6rem;
  line-height: 1.1rem;
}

.MessageContentBottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.MessageContentBottomText {
  text-align: left;
  color: #cbd5e0;
  margin-left: 0.3rem;
  font-size: 0.78rem;
  word-break: break-word;
  font-family: 'Noto Sans';
}

.EnterMessage {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 1.5rem;
  width: 100%;
  padding: 0 0.5rem 0 0.5rem;
  height: 2.65rem;
  align-items: center;
}

.EnterMessage > input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0 5rem 0 2.7rem;
  outline: none;
  background-color: #242c3a;
  color: #cbd5e0;
}

.EnterMessageButton {
  position: absolute;
  color: #a0aec0;
  transition: all 0.2s ease-in-out;
}

.EnterMessageButton:hover {
  --rot: 360deg;
  color: #cbd5e0;
  transform: rotate(var(--rot));
}

.EmojiPicker {
  display: block;
  position: absolute;
  bottom: 3rem;
}

.EmojiPicker :global .EmojiPickerReact {
  --epr-emoji-size: 1.3rem;
  --epr-category-navigation-button-size: 1.7rem;
  --epr-category-label-height: 1.7rem;
  font-size: small;
}

.SettingsOverlay {
  z-index: 1;
  background-color: #1a202c;
  display: block;
  position: absolute;
  top: 8vh;
  left: 15vw;
  width: 10rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.SettingsOverlayItemContainer {
  display: flex;
  min-height: 2rem;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  color: #a0aec0;
}

.SettingsOverlayItemContainer:hover {
  color: #e2e8f0;
  transform: rotate(var(--rot));
}

.SettingsOverlayItemContainer > span {
  width: 75%;
  --rot: 0;
}

@media only screen and (max-width: 600px) {
  .Desktop {
    display: none;
  }
}
