/* ||Sections */
.GCList {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.GCInfo {
  background-color: #333f56;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.GCChat {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* || GC Info menu*/
.GCInfoItemContainer {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  color: #a0aec0;
}

.GCInfoItemTitle {
  flex: 1;
  height: 85%;
  font-family: 'Noto Sans';
  color: #a0aec0;
  font-weight: 500;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
}

.GCInfoCRContainer {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  color: #a0aec0;
  transition: all 0.2s ease-in-out;
}

.GCInfoCRTitle {
  flex: 1;
  height: 85%;
  font-family: 'Noto Sans';
  color: #a0aec0;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.GCInfoCRContainer:hover,
.GCInfoCRTitle:hover {
  color: #e2e8f0;
  transform: scale(1.007);
}

.GCInfoCR {
  padding: 0.2rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #242c3a #323e52;
  scrollbar-width: thin;
}

.GCInfoCR::-webkit-scrollbar {
  width: 0.25rem;
}

.GCInfoCR::-webkit-scrollbar-thumb {
  background: #242c3a;
  border-radius: 0.25rem;
}

.PopupPanelContainer {
  z-index: 1;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #242c3acb;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.JoinGroupPanel {
  width: 45%;
  height: 30%;
  background-color: #323e52;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.4rem;
  position: relative;
}

.JoinGroupPanel > input {
  width: 80%;
  height: 2.3rem;
  background-color: #242c3a;
  color: #a0aec0;
  outline: none;
  border-radius: 0.4rem;
  padding: 0 1rem 0 1rem;
  position: relative;
}

.JoinGroupPanel button {
  width: 7rem;
  height: 2.1rem;
  color: #a0aec0;
  border: 0.1rem solid #a0aec0;
  border-radius: 0.4rem;
  position: relative;
  top: 2rem;
  margin: 0 3.5rem 0 3.5rem;
  transition: all ease-in-out 0.2s;
}

.JoinGroupPanel button:hover {
  --back: #a0aec0;
  --text: #323e52;
  background-color: var(--back);
  border: 0.1rem solid var(--back);
  color: var(--text);
}
