.Chat {
  background-color: #1a202c;
  height: 100vh;
  width: 100vw;
}

.MenuItemContainer {
  width: 100%;
  margin-top: 0.5rem;
  overflow: hidden;
  padding: 17%;
}

.MenuItemImage {
  height: 100%;
  width: 100%;
  color: #a0aec0;
}

.MenuItemImage:hover {
  color: #fff;
}
